/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    background-color: #fafafa;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.layout{

}
/* aside */
aside{
    width: 250px;
    height: 100vh;
    color: #fff;
    position: fixed;
    background-color: #202021;
    background: -webkit-linear-gradient(315deg, #607D8B 0, #212121 100%);
    background: linear-gradient(135deg, #607D8B 0, #212121 100%);
    position: fixed;
    z-index: 10;
}
@media screen and (max-width: 768px){
    aside {
        bottom: auto;
        right: 0;
        width: 100%;
        height: 50px;
    }
}

/* @media (max-width: 700px){
    
    aside{
        width: 100%;
    }   
   
}
@media (min-width: 701px){
    aside{
         max-width: 250px;
    }
   
} */

aside h1{
    font-size: 30px;
    text-align: center;
    margin: 35px 0;
    /* animation: flip 1s; */
    

}

aside h1  a{
    display: block;
    
}
aside .nav{
}

aside .nav li{
     /* background-color: #ccc;  */
}
aside .nav li.current{
    color: #f9c427;
}
aside .nav a{
    display: block;
    line-height: 40px;
    margin: 10px 0;
    padding-left: 34px;
    font-size: 18px;
}
aside .nav a:hover{
    background-color: #000;
}
aside .nav small{
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    padding-left: 25px;
}

aside .icon{
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%)

}
aside .icon li{
    padding: 5px;
    border-radius: 50%;
    transition: .8s;

}
aside .icon li:nth-child(1){
    background: rgb(0,171,108);
}
aside .icon li:nth-child(1) svg{
    fill: #fff;
}
aside .icon li:nth-child(2){
    background: rgb(88,70,19);
}
aside .icon li:nth-child(2) svg{
    fill: darkgray;
}
aside .icon li:nth-child(3){
    background-color: rgba(238, 238, 238, 0.39);
}
aside .icon li:nth-child(4){
    background: rgb(150, 14, 14);
}
aside .icon li:nth-child(4) svg{
    fill: #ccc;
}
aside .icon a{
    display: block;
    
}
aside .icon a svg{
    
}
aside .icon li:hover{
    /* background-color: #eee; */
    animation: rubberBand 1s;
    
    
}
.aside-info .download{
    margin-top: 170px;
    text-align: center;

}
.aside-info .download a{
    display: inline-block;
    border: 1px solid rgb(0,204,108);
    padding: 6px 15px;
    border-radius: 4px;
    color: rgb(0,204,108); 
}
.aside-info .download a:hover{
    animation: jello 1s;
}
@media screen and (max-width: 768px){
    aside .aside-info{
        display: none;
        position: fixed;
        top: 50px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 3;
        background: rgba(0, 0, 0, 0.8);
    }
    aside h1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin: 0;
        padding: 0 34px;
        
        
    }
    aside .menu::after{
        content: '☰';
        display: block;
        font-size: 28px;    
        color: #fff;
        text-align: right;
        cursor: pointer;

    }
    aside.active .menu::after{
        content: '×';
        font-size: 40px;
    }
    aside.active .aside-info{
        display: block;
    }
}



svg{
    display: block;
    max-width: 30px;
    max-height: 30px;
}
section{
    margin-left: 250px;
    /* height: 100vh; */
    text-align: center;
}
@media screen and (max-width: 768px){
    section{
        margin: 0 10px;
        padding-top: 50px;
    }
    
}
.layout .content{
    display: none;
    
}
.layout .content.active{
    display: block;
    
}
.content h2{
     padding-top: 50px;
     margin-bottom: 50px;
     font-size: 40px;
     animation: fadeInDown 1s;
}


/* aboutme  */
.aboutme{
    text-align: center;
}
.aboutme .head{
    width: 200px;
    margin: 0 auto;
    padding-top: 10px;
    animation: fadeInDown 1s;
}
.aboutme .avatar{
    display: block;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-bottom: 30px;
}
.aboutme .avatar img{
    width: 100%;
    background: -webkit-linear-gradient(315deg, #607D8B 0, #212121 100%);
    background: linear-gradient(135deg, #607D8B 0, #212121 100%);
    border-radius: 50%;
}
.aboutme .description{
    padding: 20px 0;
}
.aboutme .description p{
    font-size: 18px;
    padding: 20px 0;
    
}
/* portfolio */
.portfolio{
    /* background: url(./images/bg4.jpg) no-repeat;
    background-size: cover; */
}
.portfolio .item{
    max-width: 600px;
    margin: 40px auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.23) 0px 6px 10px;
    background: #fff;
    

}
.portfolio .item h3{
    padding: 20px;
    text-align: left;
    font-size: 16px;
}
.portfolio .item img{
    display: block;
    width: 100%;
    background: #ccc;
}
.portfolio .item .describe{
    padding: 0 20px 20px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.portfolio .item .describe p{
    padding-top: 20px;
}
.portfolio .item .link{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
@media screen and (max-width: 620px){
    .portfolio .item .link{
        padding: 14px;
    }
}
.portfolio .item .link-icon svg{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 1em;
    border-radius: 50%;
    cursor: pointer;
}
@media screen and (max-width: 640px){
    .portfolio .item .link-icon svg{
        width: 24px;
        height: 24px;
        margin-right: .1em;
    }
}
.icon-weather{
    fill: darkviolet;
}
.icon-js{
    fill: #a5a7aa;
}
.icon-music{
    fill: rgb(212,60,51);
}
.icon-jquery{
    fill: rgb(8,103,78);
}
.icon-react{
    fill: rgb(100,218,249);
}
.icon-canvas{
    fill: darkmagenta;
}
.icon-load{
    fill: tomato;
}
.icon-git{
    fill: rgb(225,101,49);
}
.github{
    float: right;
    margin-right: 10px;
    padding: 0 4px;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: ease .5s;
}
@media screen and (max-width: 640px){
    .github{
        margin-right: .1em;
    }

   
}
.github:hover{
    background-color: #ddd;
}

/*  skill */
.skill{
    background: url(./images/bg4.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #fff;


}
.skill-content{
    display: flex;
    justify-content: space-around;
    text-align: left; 
    position: relative;
    padding: 20px 0;
    margin: 0 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 30px, rgba(0, 0, 0, 0.53) 0px 0px 10px;
}
.skill-content::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(./images/bg4.jpg) no-repeat;
    background-size: cover;
    filter: blur(16px);
    
}
@media screen and (max-width: 1240px){
    .skill h2{
        margin-bottom: 10px;
    }
    .skill-content{
        /* flex-direction: column; */
        display: block;
        text-align: left; 
        padding: 0;
    
    }
    
}
.skill-content ul{
    flex-basis: calc(100% - 200px);
    margin: 0 50px;
    position: relative;
    z-index: 3;

}
.skill-content li{
    padding: 10px 0;
    list-style: disc;
}
@media screen and (max-width: 1240px){
    .skill-content li{
        padding: 8px 0;
    }
}
.skill-content em{
    font-style: normal;
    color: #E91E63;
    font-weight: bold;
    font-size: 16px;
    
}
/* contact */
section.contact p{
    text-align: left;
    max-width:320px;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 24px;
}
section.contact p svg{
    float: left;
    vertical-align: middle;
    padding-right: 5px;
}
section.contact p:nth-child(2) svg{
    padding-top: 6px;
}

/* .netEase{
    background-image: url(./images/netEase.png);
    background-position: top;
    background-size: cover;
} */

#QBcode{
    position: relative;
}
/* #QBcode::after{
    display: block;
    content: '';
    background: url('./images/QBcode.jpg');
    width: 400px;
    position: absolute;
    left: 100%;
    bottom: 100%;
} */
.QBcode::after {
    display: none;
    content: '';
    background: url(./images/QBcode.jpg) 100%/cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 120%;
    bottom: -170%;
}
.QBcode:hover::after{
    display: block;
}